body{
    background-color: #f9f7fe;
}

.container{
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-radius: 10px;

}

.city{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px dashed rgba(0,0,0.2);
}
.city :last-child{
    border: none;
}

h2{
    margin: 0 5px;
    font-size: 20px;
}

.time{
    font-size: 48px;
    font-weight: bold;
}
.time small{
    font-size: 24px;
    vertical-align: middle;
    line-height: 36px;
}

.select{
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;

}


h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}

footer{
text-align: center;}